<mat-toolbar>
  <div>
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ 'APP_TITLE' | translate }}</span>
  </div>

  <div class="toolbar-actions">
    <button [matTooltip]="curentLanguage() === 'ar' ? 'English' : 'عربى'" mat-icon-button (click)="SwitchLang()"
      class="lang-btn">
      <mat-icon>language</mat-icon>
      <span class="lang-indicator">{{ curentLanguage() === 'ar' ? 'EN' : 'ع' }}</span>
    </button>

    <!-- Theme Toggle -->
    <button [matTooltip]="getThemeTooltip()" mat-icon-button (click)="toggleTheme()"
      class="toolbar-btn theme-toggle-btn" [class.dark-mode]="themeService.isDarkMode()">
      <mat-icon>{{ getThemeIcon() }}</mat-icon>
    </button>

    <!-- Profile Menu -->
    <button [matTooltip]="'PROFILE' | translate" mat-icon-button [matMenuTriggerFor]="menuId" class="toolbar-btn">
      <mat-icon>person</mat-icon>
    </button>
  </div>

  <mat-menu #menuId>
    <div mat-menu-item class="list-item-content" routerLink="/home">
      <mat-icon>account_box</mat-icon>
      <span>Eltehety</span>
    </div>
    <div mat-menu-item class="list-item-content" routerLink="/login">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'LOGOUT' | translate }}</span>
    </div>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened [style.width]="sidenavWidth()" class="app-sidenav">
    <mat-nav-list>
      <div class="nav-items-top">
        <!-- Home -->
        <a mat-list-item routerLink="/home" routerLinkActive="active-link">
          <div class="list-item-content">
            <mat-icon [matTooltip]="'HOME' | translate">home</mat-icon>
            @if (!collabse()) {
            <span>{{ 'HOME' | translate }}</span>
            }
          </div>
        </a>

        <!-- Departments -->
        <!-- <a mat-list-item routerLink="/departments" routerLinkActive="active-link">
          <div class="list-item-content">
            <mat-icon [matTooltip]="'DEPARTMENT' | translate">account_tree</mat-icon>
            @if (!collabse()) {
            <span>{{ 'DEPARTMENT' | translate }}</span>
            }
          </div>
        </a> -->

        <!-- Employees -->
        <!-- <a mat-list-item routerLink="/employees" routerLinkActive="active-link">
          <div class="list-item-content">
            <mat-icon [matTooltip]="'Employees'|translate">group</mat-icon>
            @if(!collabse()){
            <span>{{'Employees'|translate}}</span>
            }
          </div>

        </a> -->

        <a mat-list-item (click)="toggleEmployees()">
          <div class="list-item-content" style="display: flex;  justify-content: space-between; text-align: center;">
            <mat-icon [matTooltip]="'HR'|translate">schema</mat-icon>
            @if (!collabse()) {
            <span>{{'HR'|translate}}</span>
            @if(employeesOpen()){
            <mat-icon>keyboard_arrow_up</mat-icon>
            }@else {
            <mat-icon>keyboard_arrow_down</mat-icon>
            }
            }
          </div>
        </a>

        @if(employeesOpen()){
        <ng-container *ngTemplateOutlet="subItemsHR"></ng-container>
        }
        <ng-template #subItemsHR>

            <a mat-list-item routerLink="/employees" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}"[style]="isRtl() && !collabse()?  'margin-right:20px':'margin-left:20px'">
              <div class="list-item-content">
                <mat-icon [matTooltip]="'Employees'|translate">groups</mat-icon>
                @if(!collabse()){
                <span> {{'Employees'|translate}}</span>
                }
              </div>
            </a>
            <a mat-list-item routerLink="/departments" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}"
              [style]="isRtl() && !collabse()?  'margin-right:20px':'margin-left:20px'">
              <div class="list-item-content">
                <mat-icon [matTooltip]="'DEPARTMENT' | translate">account_tree</mat-icon>
                @if(!collabse()){
                <span> {{'DEPARTMENT'|translate}}</span>
                }
              </div>
            </a>
            <a mat-list-item routerLink="/users" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
              [style]="isRtl() && !collabse()? 'margin-right:20px':'margin-left:20px'">
              <div class="list-item-content">
                <mat-icon [matTooltip]="'USERS'|translate">contacts</mat-icon>
                @if (!collabse()) {
                <span> {{'USERS'|translate}} </span>
                }
              </div>
            </a>

        </ng-template>


        <a mat-list-item routerLink="/signal" routerLinkActive="active-link">
          <div class="list-item-content">
            <mat-icon [matTooltip]="'Signal' | translate">cast</mat-icon>
            @if (!collabse()) {
            <span>{{ 'Signal' | translate }}</span>
            }
          </div>
        </a>

        <a mat-list-item routerLink="/crud" routerLinkActive="active-link">
          <div class="list-item-content">
            <mat-icon matTooltip='CURD'>dashboard</mat-icon>
            @if(!collabse()){
            <span>STEPER</span>
            }
          </div>
        </a>
<a mat-list-item routerLink="/master-details" routerLinkActive="active-link">
          <div class="list-item-content">
            <mat-icon matTooltip='CURD'>dashboard</mat-icon>
            @if(!collabse()){
            <span>master-details</span>
            }
          </div>
        </a>

        <a mat-list-item routerLink="/tdf" routerLinkActive="active-link">
          <div class="list-item-content">
            <mat-icon matTooltip='TDF'>dashboard</mat-icon>
            @if(!collabse()){
            <span>Template Driven Forms (TDF)</span>
            }
          </div>
        </a>
        <a mat-list-item routerLink="/reactive" routerLinkActive="active-link">
          <div class="list-item-content">
            <mat-icon matTooltip='Reactive Form'>dashboard</mat-icon>
            @if(!collabse()){
            <span>Reactive Form</span>
            }
          </div>
        </a>
        <a mat-list-item routerLink="/ViewChild" routerLinkActive="active-link">
          <div class="list-item-content">
            <mat-icon matTooltip='Reactive Form'>dashboard</mat-icon>
            @if(!collabse()){
            <span>ViewChild</span>
            }
          </div>
        </a>
<a mat-list-item routerLink="/responsive-table" routerLinkActive="active-link">
    <div class="list-item-content">
            <mat-icon matTooltip='Reactive Form'>dashboard</mat-icon>
            @if(!collabse()){
            <span>Responsive-table</span>
            }
          </div>
</a>

<!-- <a mat-list-item (click)="toggleDirective()">
          <div class="list-item-content" style="display: flex;  justify-content: space-between; text-align: center;">
            <mat-icon matTooltip="Directive">schema</mat-icon>
            @if (!collabse()) {
            <span>Directive</span>
            @if(directiveOpen()){
            <mat-icon>keyboard_arrow_up</mat-icon>
            }@else {
            <mat-icon>keyboard_arrow_down</mat-icon>
            }
            }
          </div>
        </a>

@if(directiveOpen()){
  <ng-container *ngTemplateOutlet="directive"></ng-container>
}

 <ng-template #directive>
<a mat-list-item routerLink="/overView" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}"[style]="isRtl() && !collabse()?  'margin-right:20px':'margin-left:20px'">
              <div class="list-item-content">
                <mat-icon [matTooltip]="'overView'|translate">dashboard</mat-icon>
                @if(!collabse()){
                <span>OverView</span>
                }
              </div>
            </a>
 </ng-template> -->


<!-- Lesone -->


<a mat-list-item (click)="toggleLessons()">
          <div class="list-item-content" style="display: flex;  justify-content: space-between; text-align: center;">
            <mat-icon matTooltip="Lessons">schema</mat-icon>
            @if (!collabse()) {
            <span>Lessons</span>
            @if(directiveOpen()){
            <mat-icon>keyboard_arrow_up</mat-icon>
            }@else {
            <mat-icon>keyboard_arrow_down</mat-icon>
            }
            }
          </div>
        </a>

@if(LessonsOpen()){
  <ng-container *ngTemplateOutlet="Lessons"></ng-container>
}

 <ng-template #Lessons>
<a mat-list-item routerLink="/directive" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}"[style]="isRtl() && !collabse()?  'margin-right:20px':'margin-left:20px'">
              <div class="list-item-content">
                <mat-icon [matTooltip]="'directive'|translate">dashboard</mat-icon>
                @if(!collabse()){
                <span>directive</span>
                }
              </div>
            </a>

<a mat-list-item routerLink="/template" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}"[style]="isRtl() && !collabse()?  'margin-right:20px':'margin-left:20px'">
              <div class="list-item-content">
                <mat-icon [matTooltip]="'template'|translate">dashboard</mat-icon>
                @if(!collabse()){
                <span>template</span>
                }
              </div>
            </a>



<a mat-list-item routerLink="/ng-template" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}"[style]="isRtl() && !collabse()?  'margin-right:20px':'margin-left:20px'">
              <div class="list-item-content">
                <mat-icon [matTooltip]="'ng-template'|translate">dashboard</mat-icon>
                @if(!collabse()){
                <span>ng-template</span>
                }
              </div>
            </a>


 </ng-template>

















        <!-- E-commerce -->
        <a mat-list-item routerLink="/auth" routerLinkActive="active-link">
          <div class="list-item-content">
            <mat-icon [matTooltip]="'E-COMMERCE'|translate">storefront</mat-icon>
            @if (!collabse()) {
            <span>{{'E-COMMERCE'|translate}}</span>
            }
          </div>
        </a>
      </div>




      <div class="nav-items-bottom">
        <!-- Logout -->
        <a mat-list-item routerLink="/login">
          <div class="list-item-content">
            <mat-icon [matTooltip]="'LOGOUT' | translate">exit_to_app</mat-icon>
            @if (!collabse()) {
            <span>{{ 'LOGOUT' | translate }}</span>
            }
          </div>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="container" [style.margin-left]="isRtl() ? '0' : sidenavWidth()"
    [style.margin-right]="!isRtl() ? '0' : sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
