<mat-toolbar>
  <div>
  <button mat-icon-button (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">App Demo</span>
  </div>

  <div>
    <button mat-icon-button>
      <mat-icon>g_translate</mat-icon>
    </button>
<button mat-icon-button>
  <mat-icon>settings_brightness</mat-icon>
</button>
  <button mat-icon-button [matMenuTriggerFor]="menuId">
    <mat-icon>person</mat-icon>
  </button>
</div>

<mat-menu #menuId>
  <div mat-menu-item class="list-item-content">
    <mat-icon>account_box</mat-icon>
     <span>Eltehety</span>
  </div>
  <div mat-menu-item class="list-item-content" routerLink="/login">
    <mat-icon>exit_to_app</mat-icon>
    <span>LogOut</span>
  </div>
</mat-menu>


</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened [style.width]="sidenavWidth()" >
    <mat-nav-list >


 <div class="nav-items-top">
        <a mat-list-item routerLink="/home">
        <div class="list-item-content">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </div>
      </a>
      <a mat-list-item routerLink="/about">
        <div class="list-item-content">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </div>
      </a>
</div>

       <div class="nav-items-bottom">
  <a mat-list-item routerLink="/login">
        <div class="list-item-content">
          <mat-icon>exit_to_app</mat-icon>
          <span>LogOut</span>
        </div>
      </a>
</div>


    </mat-nav-list>




  </mat-sidenav>




  <mat-sidenav-content class="container" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
