<div class="card">
<div class="card-title">
  Ng Form (NgModel)
</div>

  <form #userFrm="ngForm"  class="card-body" novalidate (ngSubmit)="submitData()">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input #name="ngModel" matInput name="name" required   [(ngModel)]="userModel.name" >
    </mat-form-field>
    <!-- <span>{{name.className}}</span> -->

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput  type="email" name="email" required email   #email="ngModel" [(ngModel)]="userModel.email">


  <!-- Error Message -->
  <mat-error *ngIf="email.invalid && email.touched">
    Please enter a valid email
  </mat-error>

    </mat-form-field>


    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Tel</mat-label>
      <input matInput type="tel"  inputmode="numeric" placeholder="01xxxxxxxxx" maxlength="11"   mobile name="mobile" #mobile="ngModel"  [(ngModel)]="userModel.mobile">

  <!-- Error Message -->
  <mat-error *ngIf="mobile.errors?.['mobile'] && mobile.touched">
    Please enter a valid mobile
  </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>I'm Interested In</mat-label>
      <mat-select name="interested" #interested="ngModel" [(ngModel)]="userModel.interested">

        @for (topic of topics; track $index) {
        <mat-option [value]="topic" >{{topic}}</mat-option>
        }
      </mat-select>
    </mat-form-field>


  <mat-label>Time Selection : </mat-label><br>
  <mat-radio-group name="timeSelection" #timeSelection="ngModel" [(ngModel)]="userModel.timeSelection">
    <mat-radio-button  value="evening" >Evening (5PM-8PM)</mat-radio-button>
    <mat-radio-button value="morning" >Morning (9AM - 12PM)</mat-radio-button>
  </mat-radio-group>
<br>
<mat-checkbox name="offers" #offers="ngModel" [(ngModel)]="userModel.offers">Send me new offers</mat-checkbox>
<br>
<button mat-flat-button type="submit" class="w-100">Submit</button>
<button mat-stroked-button  type="reset"  class="w-100">Reset</button>

  </form>
</div>

{{userFrm.value|json}}
<br>
<hr>
{{userModel|json}}


