<div class="card">
  <div class="card-title">
    {{'LOGIN'|translate}}
  </div>



  <form (submit)="login($event)">
    <mat-form-field appearance="outline" class="w-100 mb-2">
      <mat-label>{{'USER_NAME'|translate}}</mat-label>
      <input matInput [field]="formLogin.userName">
      @for (error of formLogin.userName().errors(); track error.kind) {
      <mat-error>{{'REQUIRED'|translate}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-2">
      <mat-label>{{'PASSWORD'|translate}}</mat-label>
      <input matInput [value]="formLogin.password().value()"
        (input)="formLogin.password().setControlValue($event.target.value)"
        [attr.type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix  (click)="togglePassword()">
        <mat-icon>{{hidePassword? 'visibility_off': 'visibility'}}</mat-icon>
      </button>
      @for (error of formLogin.password().errors(); track error.kind) {
      <mat-error>{{'Validations.password.'+error.kind|translate}}</mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button mat-stroked-button type="submit" [ngClass]="{'btn-primary':formLogin().valid()}"
        [disabled]="formLogin().invalid()">{{'LOGIN'|translate}}</button>
      <button mat-stroked-button type="reset" (click)="formLogin().reset()"
        class="btn-warn">{{'CLOSE'|translate}}</button>

    </div>


  </form>


</div>
