 <form class="d-flex form-body" [formGroup]="profile">



    <!-- <mat-label>{{ 'ProfileImg' | translate }}</mat-label> -->

     <div class="file-upload full-width">
      <mat-label>Course Image</mat-label>
      <div class="file-input-wrapper">
        <input
          type="file"
          accept="image/*"
          id="fileInput"
          (change)="onImageSelected($event)"
        />
        <label for="fileInput" class="browse-btn">Browse</label>
        <span class="file-name" *ngIf="selectedImage; else noFile">{{
          selectedImage
        }}</span>
        <ng-template #noFile><span class="file-name muted">No file chosen</span></ng-template>
      </div>

      <div class="image-preview" *ngIf="selectedImage">
        <img [src]="selectedImage" alt="Selected course" />
      </div>
    </div>

 </form>



