<div class="card">
  <div class="card-title">Learn Angular Signal Forms</div>


  <form class="form-body">

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" [field]="loginForm.email">

    </mat-form-field>
  @if(loginForm.email().invalid() && loginForm.email().touched()){
      @for (error of loginForm.email().errors(); track error.kind) {
      <mat-error class="mb-2">
        {{"Validations.email."+error.kind |translate}}
      </mat-error>
      }
      }

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" [field]="loginForm.password">
    </mat-form-field>
    @if(loginForm.password().invalid() && loginForm.password().touched()){

@for (item of loginForm.password().errors(); track item.kind) {
<mat-error>{{"Validations.password."+item.kind | translate}}</mat-error>
}

     }

    <mat-checkbox   [field]="loginForm.rememberMy">
      <mat-label>{{"Remember_my"|translate}}</mat-label>
    </mat-checkbox>

  </form>
</div>




<p>Email {{loginForm.email().value()}}</p>
<p>Password {{loginForm.password().value()?'******':'(empty)'}}</p>
<p>Remmber my {{loginForm.rememberMy().value()?'Yes':'No'}}</p>
