<div class="card">
  <div class="card-title">
    {{'SIGNUP'|translate}}
  </div>


  <form class="form-body"   (submit)="save($event)">
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>{{'FULL_NAME'|translate}}</mat-label>
      <input matInput [field]="signUpForm.fullName">
      @for (error of signUpForm.fullName().errors(); track error.kind) {
      <mat-error>{{'REQUIRED'|translate}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-2">
      <mat-label>{{'USER_NAME'|translate}}</mat-label>
      <input matInput [field]="signUpForm.userName">
      @for (error of signUpForm.userName().errors(); track error.kind) {
      <mat-error>{{'REQUIRED'|translate}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-2">
      <mat-label>{{'EMAIL'|translate}}</mat-label>
      <input matInput type="email" [field]="signUpForm.email">
      @for (error of signUpForm.email().errors(); track error.kind) {
      <mat-error>{{'Validations.email.'+error.kind|translate}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-2">
      <mat-label>{{'PASSWORD'|translate}}</mat-label>
      <input matInput type="password" [field]="signUpForm.password">
      @for (error of signUpForm.password().errors(); track error.kind) {
      <mat-error>{{'Validations.password.'+error.kind|translate}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-2">
      <mat-label>{{'CONFIRM_PASSWORD'|translate}}</mat-label>
      <input matInput type="password" [field]="signUpForm.confirmPassword">
      @for (error of signUpForm.confirmPassword().errors(); track error.kind) {
      <mat-error>{{'Validations.password.'+error.kind|translate}}</mat-error>
      }
    </mat-form-field>


    <mat-form-field appearance="outline" class="w-100 mb-2">
      <mat-label>{{'MOBILE'|translate}}</mat-label>
      <input matInput type="tel" [field]="signUpForm.mobile">
      @for (error of signUpForm.mobile().errors(); track error) {
      <mat-error>{{'Validations.mobile.'+error.kind|translate}}</mat-error>
      }
    </mat-form-field>

<mat-checkbox [field]="signUpForm.accept">{{'ACCEPT'|translate}}</mat-checkbox>

<div class="actions">
  <button mat-stroked-button [disabled]="signUpForm().invalid()" [ngClass]="{'btn-primary':signUpForm().valid()}">{{'SIGNUP'|translate}}</button>
  <button mat-stroked-button type="reset" (click)="signUpForm().reset()" class="btn-warn">{{'CLOSE'|translate}}</button>
</div>
  </form>

</div>
