


/* ===== GENERAL LAYOUT ===== */
mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  background: white !important;
  border-radius: 0px !important;
}

/* إخفاء السكرول من الـ inner container */
mat-sidenav::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}

mat-toolbar {
  background: white !important;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 2px solid #72a1a05c;
  justify-content: space-between;
  height: 64px;
}

/* ===== LIST ITEM CONTENT ===== */
.list-item-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.list-item-content mat-icon, .mat-icon {
  font-size: 26px;
  min-width: 26px;
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mat-button-filled-container-color, var(--mat-sys-primary));
}

.list-item-content span {
  white-space: nowrap;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding-left: .5rem !important;
}

.container {
  padding: 2rem;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 0px !important;
  margin-bottom: .15rem !important;
}

.mat-mdc-menu-item .mat-icon-no-color,
.mat-mdc-menu-item .mat-mdc-menu-submenu-icon,
.title {
  color: var(--mat-button-filled-container-color, var(--mat-sys-primary)) !important;
}

.mat-mdc-menu-item .mat-icon {
  margin-right: 0px !important;
}

.mat-mdc-menu-content {
  background-color: white !important;
}

.mat-mdc-nav-list {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 100% !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.nav-items-top {
  padding: 8px 0;
}

.nav-items-bottom {
  border-top: 1px solid #e0e0e0;
  padding: 8px 0;
}

.title {
  margin: 1rem;
}
